.navbar{
    border-top: 1px solid #ddd;    
    border-bottom: 2px solid #b10012;
}

.nav-link, .navbar-brand{
    font-size: 14px !important;
    font-weight: bold !important;
}

header #titulo{
    font-family: 'Times New Roman', Times, serif !important;
    color: firebrick;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}