a:link, a:visited{
    text-decoration: none !important;
    color: black !important;
}
.card{
    border: 0 !important;    
    border-bottom: 1px solid #ddd !important;
    margin-top: 5px;
    border-radius: 0% !important;
}
.container-flex{
    display: flex;
    align-items: center;
}
.card-title{
    font-size: 18px;
}
