.center {
    margin: auto;
    margin-top: 5vh;
    height: 40vh;
    width: 90vw;
    max-height: 500px ;
    max-width: 800px;
}

.news-table {
    max-height: 650px;
    margin-bottom: 10vh;
}

.btn-create {
    margin: 50px 5px 50px;
}

.form-create {
    text-align: center;
}

@media (min-width: 580px) {
    .form-create label {
        text-align: right;
    }    
}

@media (max-width: 1213px) {
    .news-table textarea {
        width: 300px;        
        height: 7em !important;        
    }    
}